<div class="padre">
<h1>Random Movie</h1>

{{#if randomMovie.movieId}}
  {{!-- {{#with randomMovie}} --}}

  <h5><i class="fas fa-film"></i> {{randomMovie.movieId.title}}</h5>
  <div>
      {{#if randomMovie.movieId.poster}}
         <img src="https://image.tmdb.org/t/p/w500{{randomMovie.movieId.poster}}" alt="{{randomMovie.movieId.title}}-img">
         {{else}}
         <img src="/images/default-movie.png" alt="poster-img">
      {{/if}}   
  </div>


<p class="overview">{{randomMovie.movieId.overview}}</p>

<div class="list">
{{#each randomMovie.movieId.genres}}
  <p>| {{this.name}} |</p>
{{/each}}
</div>


<div class="all-content">
<p>Original Lenguage: {{randomMovie.movieId.language}}</p>
<p>Popularity: {{randomMovie.movieId.popularity}}</p>
<p>Runtime: {{randomMovie.movieId.runtime}}</p>
</div>


<a href="https://www.youtube.com/results?search_query={{randomMovie.movieId.title}}+trailer" target="_blank" class="btn btn-info">View Trailer</a>

</div>
{{else}}

  <div class="empty-list">
  <h3>First add some movies</h3>
  <a href="/home" class="btn btn-outline-info">Go to Premieres</a>
  <a href="/movies" class="btn btn-outline-info">Go to Movies</a>
  </div>

  {{!-- {{/with}} --}}
{{/if}}
