<h1>Random</h1>
{{#with randomMovie}}
<h5>Title: {{movieId.title}}</h5>
<img src="https://image.tmdb.org/t/p/w500{{movieId.poster}}" alt="{{movieId.title}}-poster-img">
<p>{{movieId.overview}}</p>
<a href="https://www.youtube.com/results?search_query={{movieId.title}}+trailer" class="btn btn-info">View Trailer</a>
{{/with}}
