{{#with data}}
<h3>{{original_title}}</h3>
 {{#if poster_path}}
    <img src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="poster-img" width="200">
      {{else}}
    <img src="/images/default-movie.png" alt="poster-img" width="200">
  {{/if}}   

<p>{{overview}}</p>
<form action="/list/add/watched/{{id}}" method="POST">
  <button type="submit" class="btn btn-info">Add to Watched Movies</button>
</form>
<form action="/list/add/watchlist/{{id}}" method="POST">
  <button type="submit" class="btn btn-info">Add to Watchlist</button>
</form>
{{/with}}


